/* css/contact.css */
body{
    font-family: 'Barlow', sans-serif; /* Apply Barlow font globally */

}
/* From Uiverse.io by ClawHack1 */
.contact-form {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    margin: 100px auto; /* Centers the form on the page */
  }
  
  .contact-form label {
    color: black;
  }
  
  .contact-form .heading {
    font-size: 24px;
    color: black;
    margin-bottom: 12px;
    font-weight: bold;
    display: block;
    text-align: center; /* Centers the heading */
  }
  
  .contact-form form {
    display: flex;
    flex-direction: column;
  }
  
  .contact-form label {
    margin-bottom: 10px;
  }
  
  textarea {
    resize: none;
    height: 80px;
    width: 100%; /* Adjusted to match the width of the input fields */
  }
  
  .contact-form input, .contact-form textarea {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
    width: 100%; /* Adjusted to match the width of the form */
  }
  
  .contact-form input:focus, .contact-form textarea:focus {
    outline: none;
    box-shadow: 0 0 5px #ff6384;
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
  }
  
  .contact-form button[type="submit"] {
    background-color: #fc9003;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    width: 100%; /* Adjusted to match the width of the form */
  }
  
  .contact-form button[type="submit"]:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
  }
  